<!doctype html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>Pflegestufen-Rechner</h1>

        <div id="app">
            Pflegestufe:
            <select v-model="level" id='level'>
                <option value="0">Stufe 1</option>
                <option value="1">Stufe 2</option>
                <option value="2">Stufe 3</option>
            </select>

            Zimmer:
            <select v-model="room" id="room">
                <option value="single">Einzelzimmer</option>
                <option value="double">Doppelzimmer</option>
            </select>

            <div id="topay">
                <b>Eigenanteil: </b>{{ topay }}
            </div>
        </div>
        
        <script>

        var prices = {
            "single": [
                [42.36, 18.5, 123],
                [54.31, 18.5, 123],
                [54.31, 18.5, 123]
            ],
            "double": [
                [42.36, 18.5, 123],
                [54.31, 18.5, 123],
                [54.31, 18.5, 123]
            ]
        };

        var insurance = {
            "single": [125, 770, 1000],
            "double": [100, 700, 1100]
        };

        var app = new Vue({
            el: "#app",
            data: {
                message: "Hello world!",
                level: 1,
                room: "double",
                prices: prices,
                insurance: insurance
            },
            computed: {
                topay: function() {
                    var p = this.prices[this.room][this.level];
                    var i = this.insurance[this.room][this.level];
                    console.log(p);
                    console.log(i);
                    return p[0]*p[1] - i;
                }
            }
        });
        </script>
    </body>
</html>
